<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-content e-content" itemprop="articleBody">

        {{ content }}

    </div>

    <div class="post-author">
        <h4>A propos de l'auteur <b>Lucas ZIENTEK</b></h4>
        <img src="/assets/img/lucaszientek.jpeg" />
        <p>
            Passionné d'informatique, de dev, d'ops, j'ai lancé ce site afin de rendre ce que le web m'a donné, des connaissances.
            <br />
            Pour plus d'information aller voir <a href="/cv/">mon CV</a>.
        </p>
    </div>
</article>