<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-content e-content" itemprop="articleBody">

        {{ content }}

    </div>

    <div class="post-author">
        <h4>A propos de l'auteur <b>Lucas ZIENTEK</b></h4>
        <img src="/assets/img/lucaszientek.jpeg" />
        <p>
            Passionné d'informatique, de dev, de devops, de CI, j'ai lancé ce site afin de rendre ce que le web m'a donné, des connaissances.
            <br />
            Pour plus d'information aller voir <a href="/contact/#cv">mon CV</a>.  
            <br />
            <a href="https://twitter.com/lucas42_?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @lucas42_</a>
        </p>
    </div>
</article>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>